#header-1 {
  text-align: center;
  text-decoration: underline;
  text-transform: uppercase;
}
.quote-1 {
  font-style: italic;
  text-align: center;
}
#fig-2 {
  position: absolute;
  top: 50px;
  left: 0px;
  opacity: 0.87;
}
.img-2 {
  width: 35%;
  position: relative;
  border-radius: 2%;
}
#art-4 {
  border-style: solid;
  display: inline;
  position: absolute;
  bottom: 50px;
}
